flow.json
[
    {
        "id": "679c5775.a84ad8",
        "type": "tab",
        "label": "Duplicati",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c58d0148.f85e28",
        "type": "influxdb",
        "hostname": "192.168.0.202",
        "port": "8086",
        "protocol": "http",
        "database": "duplicati",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "317fa54a.feaf92",
        "type": "http in",
        "z": "679c5775.a84ad8",
        "name": "duplicati",
        "url": "/duplicati",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "7c0f221e.09a594",
                "7d91ffe7.fd07d"
            ]
        ]
    },
    {
        "id": "7c0f221e.09a594",
        "type": "json",
        "z": "679c5775.a84ad8",
        "name": "duplicati response",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "63a5bf76.3aafc",
                "13a58b9b.126104"
            ]
        ]
    },
    {
        "id": "13a58b9b.126104",
        "type": "http response",
        "z": "679c5775.a84ad8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "63a5bf76.3aafc",
        "type": "switch",
        "z": "679c5775.a84ad8",
        "name": "",
        "property": "payload.Data.MainOperation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Backup",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Repair",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Compact",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Restore",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "31f475f5.c91cba"
            ],
            [
                "47564f7e.896c38"
            ],
            [
                "47564f7e.896c38"
            ],
            [
                "19b4e6d1.06dff9"
            ]
        ]
    },
    {
        "id": "1206c168.36e417",
        "type": "influxdb in",
        "z": "679c5775.a84ad8",
        "influxdb": "c58d0148.f85e28",
        "name": "",
        "query": "SELECT last(\"EndTime\") AS \"last_EndTime\" FROM \"duplicati\".\"autogen\".\"times\" GROUP BY \"BackupName\"",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1180,
        "y": 240,
        "wires": [
            [
                "262ee358.b77724"
            ]
        ]
    },
    {
        "id": "3d1ba4a5.54f4c4",
        "type": "function",
        "z": "679c5775.a84ad8",
        "name": "",
        "func": "current_time = new Date().getTime();\nend_time = new Date(msg.payload.time).getTime();\nduration = current_time - end_time;\n\n\n\n\npayload = [\n    {\n\t\tDurationSinceLastBackup: duration,\n\n    },\n    {\n        BackupName: msg.payload.BackupName\n    }\n]\n\nmsg.payload = payload;\nmsg.measurement = \"LastBackup\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1500,
        "y": 240,
        "wires": [
            [
                "10daee26.b97e4a"
            ]
        ]
    },
    {
        "id": "262ee358.b77724",
        "type": "split",
        "z": "679c5775.a84ad8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1350,
        "y": 240,
        "wires": [
            [
                "3d1ba4a5.54f4c4"
            ]
        ]
    },
    {
        "id": "10daee26.b97e4a",
        "type": "influxdb out",
        "z": "679c5775.a84ad8",
        "influxdb": "c58d0148.f85e28",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "duplicati",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "duplicati",
        "x": 1680,
        "y": 240,
        "wires": []
    },
    {
        "id": "2ef4e93a.5e2a56",
        "type": "delay",
        "z": "679c5775.a84ad8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "1206c168.36e417"
            ]
        ]
    },
    {
        "id": "31f475f5.c91cba",
        "type": "function",
        "z": "679c5775.a84ad8",
        "name": "backup",
        "func": "msg.payload = [\n    {\n        measurement: \"files\",\n        fields: {\n            Deleted: msg.payload.Data.DeletedFiles,\n\t\t\tModified: msg.payload.Data.ModifiedFiles,\n\t\t\tExamined: msg.payload.Data.ExaminedFiles,\n\t\t\tOpened: msg.payload.Data.OpenedFiles,\n\t\t\tAdded: msg.payload.Data.AddedFiles,\n\t\t\tNotProcessed: msg.payload.Data.NotProcessedFiles,\n\t\t\tTooLarge: msg.payload.Data.TooLargeFiles,\n\t\t\tWithError: msg.payload.Data.FilesWithError,\n\t\t\tFilesUploaded: msg.payload.Data.BackendStatistics.FilesUploaded,\n\t\t\tFilesDownloaded: msg.payload.Data.BackendStatistics.FilesDownloaded,\n\t\t\tFilesDeleted: msg.payload.Data.BackendStatistics.FilesDeleted,\n\t\t\tUnknownFileCount: msg.payload.Data.BackendStatistics.UnknownFileCount,\n\t\t\tKnownFileCount: msg.payload.Data.BackendStatistics.KnownFileCount,\n\t\t\tListCount: msg.payload.Data.BackendStatistics.BackupListCount\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n    {\n        measurement: \"bytes\",\n        fields: {\n\t\t\tModified: msg.payload.Data.SizeOfModifiedFiles,\n\t\t\tAdded: msg.payload.Data.SizeOfAddedFiles,\n\t\t\tExamined: msg.payload.Data.SizeOfExaminedFiles,\n\t\t\tOpened: msg.payload.Data.SizeOfOpenedFiles,\n\t\t\tUploaded: msg.payload.Data.BackendStatistics.BytesUploaded,\n\t\t\tDownloaded: msg.payload.Data.BackendStatistics.BytesDownloaded,\n\t\t\tUnknownFile: msg.payload.Data.BackendStatistics.UnknownFileSize,\n\t\t\tKnown: msg.payload.Data.BackendStatistics.KnownFileSize\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n\t{\n        measurement: \"times\",\n        fields: {\n\t\t\tEndTime: new Date(msg.payload.Data.EndTime).getTime(),\n\t\t\tBeginTime: new Date(msg.payload.Data.BeginTime).getTime(),\n\t\t\tDuration: new Date(msg.payload.Data.EndTime).getTime()-new Date(msg.payload.Data.BeginTime).getTime(),\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 40,
        "wires": [
            [
                "4b256453.f0d4d4",
                "2ef4e93a.5e2a56"
            ]
        ]
    },
    {
        "id": "47564f7e.896c38",
        "type": "function",
        "z": "679c5775.a84ad8",
        "name": "repair/compact",
        "func": "msg.payload = [\n    {\n        measurement: \"files\",\n        fields: {\n\t\t\tFilesUploaded: msg.payload.Data.BackendStatistics.FilesUploaded,\n\t\t\tFilesDownloaded: msg.payload.Data.BackendStatistics.FilesDownloaded,\n\t\t\tFilesDeleted: msg.payload.Data.BackendStatistics.FilesDeleted,\n\t\t\tUnknownFileCount: msg.payload.Data.BackendStatistics.UnknownFileCount,\n\t\t\tKnownFileCount: msg.payload.Data.BackendStatistics.KnownFileCount\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n    {\n        measurement: \"bytes\",\n        fields: {\n\t\t\tUploaded: msg.payload.Data.BackendStatistics.BytesUploaded,\n\t\t\tDownloaded: msg.payload.Data.BackendStatistics.BytesDownloaded,\n\t\t\tUnknownFile: msg.payload.Data.BackendStatistics.UnknownFileSize,\n\t\t\tKnown: msg.payload.Data.BackendStatistics.KnownFileSize\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n\t{\n        measurement: \"times\",\n        fields: {\n\t\t\tEndTime: new Date(msg.payload.Data.EndTime).getTime(),\n\t\t\tBeginTime: new Date(msg.payload.Data.BeginTime).getTime(),\n\t\t\tDuration: new Date(msg.payload.Data.EndTime).getTime()-new Date(msg.payload.Data.BeginTime).getTime(),\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 200,
        "wires": [
            [
                "4b256453.f0d4d4",
                "2ef4e93a.5e2a56"
            ]
        ]
    },
    {
        "id": "19b4e6d1.06dff9",
        "type": "function",
        "z": "679c5775.a84ad8",
        "name": "restore",
        "func": "msg.payload = [\n    {\n        measurement: \"files\",\n        fields: {\n\t\t\tFilesRestored: msg.payload.Data.BackendStatistics.FilesRestored,\n\t\t\tFilesPatched: msg.payload.Data.BackendStatistics.FilesPatched,\n\t\t\tFilesDeleted: msg.payload.Data.BackendStatistics.FilesDeleted,\n\t\t\tUnknownFileCount: msg.payload.Data.BackendStatistics.UnknownFileCount,\n\t\t\tKnownFileCount: msg.payload.Data.BackendStatistics.KnownFileCount\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n    {\n        measurement: \"bytes\",\n        fields: {\n\t\t\tRestored: msg.payload.Data.SizeOfRestoredFiles,\n\t\t\tUploaded: msg.payload.Data.BackendStatistics.BytesUploaded,\n\t\t\tDownloaded: msg.payload.Data.BackendStatistics.BytesDownloaded,\n\t\t\tUnknownFile: msg.payload.Data.BackendStatistics.UnknownFileSize,\n\t\t\tKnown: msg.payload.Data.BackendStatistics.KnownFileSize\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n\t{\n        measurement: \"times\",\n        fields: {\n\t\t\tEndTime: new Date(msg.payload.Data.EndTime).getTime(),\n\t\t\tBeginTime: new Date(msg.payload.Data.BeginTime).getTime(),\n\t\t\tDuration: new Date(msg.payload.Data.EndTime).getTime()-new Date(msg.payload.Data.BeginTime).getTime(),\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "4b256453.f0d4d4",
                "2ef4e93a.5e2a56"
            ]
        ]
    },
    {
        "id": "4b256453.f0d4d4",
        "type": "influxdb batch",
        "z": "679c5775.a84ad8",
        "influxdb": "c58d0148.f85e28",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "",
        "x": 1020,
        "y": 40,
        "wires": []
    },
    {
        "id": "e7bc50af.06c1a8",
        "type": "inject",
        "z": "679c5775.a84ad8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "1206c168.36e417"
            ]
        ]
    },
    {
        "id": "7d91ffe7.fd07d",
        "type": "file",
        "z": "679c5775.a84ad8",
        "name": "write to file",
        "filename": "/share/duplicati/received_messages",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "85700e66.8ffdf8",
        "type": "file in",
        "z": "679c5775.a84ad8",
        "name": "",
        "filename": "/share/duplicati/received_messages",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "7c0f221e.09a594"
            ]
        ]
    },
    {
        "id": "a4e09259.087e7",
        "type": "inject",
        "z": "679c5775.a84ad8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "85700e66.8ffdf8"
            ]
        ]
    },
    {
        "id": "d7568d07.bf6e",
        "type": "comment",
        "z": "679c5775.a84ad8",
        "name": "reprocess saved messages",
        "info": "",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "8690da6c.97a75",
        "type": "catch",
        "z": "679c5775.a84ad8",
        "name": "",
        "scope": [
            "7c0f221e.09a594"
        ],
        "uncaught": false,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "4def1099.0e74d8"
            ]
        ]
    },
    {
        "id": "4def1099.0e74d8",
        "type": "http response",
        "z": "679c5775.a84ad8",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 420,
        "y": 540,
        "wires": []
    }
]